# ======================
# .NET
# ======================
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# ======================
# ASP.NET / Visual Studio
# ======================
*.dbmdl
*.jfm
*.psess
*.vsp
*.vspx
*.sap
*.opendb
*.VC.db

# ======================
# Node / Angular
# ======================
node_modules/
dist/
.angular/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Env files
# ======================
.env
.env.local

# ======================
# Firebase
# ======================
firebase-debug.log
.firebaserc

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Runtime
# ======================
events/
snapshots/
known_faces/

# ======================
# AI
# ======================
*.pt
face_data.pkl

# ======================
# Images
# ======================
*.jpg
*.jpeg
*.png

# ======================
# Inference runtime/data
# ======================
inference-server/__pycache__/
inference-server/events/
inference-server/snapshots/
inference-server/known_faces/
inference-server/face_data/
inference-server/*.jpg
inference-server/*.pt
inference-server/*.bak