# ======================
# .NET
# ======================
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log

# ======================
# ASP.NET / Visual Studio
# ======================
*.dbmdl
*.jfm
*.psess
*.vsp
*.vspx
*.sap
*.opendb
*.VC.db

# ======================
# Node / Angular
# ======================
node_modules/
dist/
.angular/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Env files
# ======================
.env
.env.local

# ======================
# Firebase
# ======================
firebase-debug.log
.firebaserc

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db